@import '../../styles/tools';

.card {
  border: 1px solid $gallery;
  padding: clamp(#{space(1)}, 4vw, #{space(4)});
  border-radius: space(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  background: white;
}
