@import '../../styles/tools';

.dashboard {
  position: relative;

  .logoutButton {
    position: absolute;
    top: space(1);
    right: space(1);
    background: $color4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: space(5);
    height: space(5);
    border: none;

    svg {
      color: white;
      width: 70%;
      height: 70%;
      transform: translate(-1px, -1px);
    }
  }
}
