@import '../../styles/tools';

.dashboard {
  h1 {
    text-align: center;
    font-size: clamp(3.2rem, 4vw, 5rem);
    margin-bottom: clamp(space(2), 5vw, 80px);
  }

  .card {
    max-width: 700px;
    margin: 0 auto;
  }

  .bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: space(4);

    button {
      svg {
        width: 70%;
        height: 70%;
        transform: translate(-1px, -1px);
      }
    }
  }
}
