@import '../../styles/tools';

.input {
  font-size: 1.8rem;
  padding: space(2) space(3);
  display: block;
  width: 100%;
  border-radius: space(1);
  border: 1px solid $alto;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.05);
}
