@import '../../styles/tools';

.login {
  margin: 100px auto 0 auto;
  width: auto;
  max-width: 500px;
  border: 1px solid #f0f0f0;
  padding: space(2);
  border-radius: space(2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;

  h2 {
    margin-bottom: space(1);
  }

  .formGroup {
    +.formGroup {
      margin-top: space(2);
    }
  }

  button {
    margin-top: space(2);
  }
}
