@import '../../styles/tools';

.button {
  background: $heavyMetal;
  border-radius: space(1);
  border: none;
  border: 1px solid white;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  color: white;
  @include fontNanumGothicRegular;

  &.xsmall {
    padding: space(0.5) space(1);
    font-size: 1.4rem;
  }

  &.small {
    padding: space(1) space(2);
    font-size: 1.6rem;
  }

  &.medium {
    font-size: 1.8rem;
    padding: space(2) space(4);
  }

  &.secondary {
    background: white;
    color: black;
    border: 1px solid $alto;
  }

  &.hasIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: space(1);

    .spinner {
      path {
        transform-origin: center;
        animation: spinner 1s linear infinite;
      }
    }

    &.small {
      svg {
        transform: scale(1.2) translateX(-2px);
      }
    }

    &.medium {
      svg {
        transform: scale(1.4) translateX(-5px);
      }
    }
  }

  &:hover:not([disabled]) {
    background: white;
    color: black;
    border: 1px solid $alto;

    &.secondary {
      border: 1px solid $mineShaft;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    background: grey;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
