@import '../../styles/tools';

.layout {
  main {
    margin: 5%;
  }

  .logoutButton {
    position: fixed;
    bottom: space(2);
    right: space(2);

    svg {
      width: 70%;
      height: 70%;
      transform: translate(-1px, -1px);
    }
  }
}
