@import '../../styles/tools';

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    margin: 5%;
  }

  .footer {
    background: url('/img/dark_leather.png') repeat fixed;
    padding: space(10) space(2);
    color: white;
    margin-top: auto;

    p {
      text-align: center;
    }
  }
}
