@import '../../styles/tools';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    border-radius: 50%;
    border: 3px solid $tulipTree;
    margin-right: space(1);
    max-width: 60%;
    max-height: 60%;
  }

  h1 {
    color: $tulipTree;
    font-size: clamp(2rem, 8vw, 4.5rem);
    @include fontCharlynRushmoor;

    margin-left: space(1);
  }
}
