@import '../../styles/tools';

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: space(1);

  .imageWrapper {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: space(2);
    }
  }
}
