@import '../../styles/tools';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  gap: space(4);
}

.modalWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: relative;
    padding: space(2);
    overflow: scroll;
    background: white;
    z-index: 1;
    width: calc(100% - #{space(2)});
    height: calc(100% - #{space(2)});
    border-radius: space(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    .closeButton {
      position: absolute;
      top: space(2);
      right: space(2);
      color: $heavyMetal;
      background: white;
      border-radius: 50%;
      font-size: 2.5rem;
      padding: space(1);
      width: 1.5em;
      height: 1.5em;
      border: 1px solid $heavyMetal;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include mq-600 {
      padding: space(4);
      border-radius: space(2);
      // width: 80vw;
      max-width: 600px;
      // height: 95vh;
      max-height: 800px;
    }
  }
}
