@import '../../styles/tools';

.register {
  margin: 0 auto;
  max-width: 500px;

  h2 {
    margin-bottom: space(1);
  }

  .formGroup {
    +.formGroup {
      margin-top: space(2);
    }
  }

  .errorMessage {
    margin-top: space(3);
  }

  button {
    margin-top: space(3);
  }

  .registerText {
    margin-top: space(3);
  }
}
