@import '../../styles/tools';

.error {
  color: red;
  display: block;
  border: 1px solid red;
  background: rgb(255, 230, 230);
  padding: space(2);
  border-radius: space(1);
  font-size: 1.6rem;
}
