@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Nanum+Gothic:wght@400;700;800&display=swap');

// Functions
@function space($nr: 1) {
  @return $nr * 8px;
}

$gallery: #eaeaea;
$alto: #cfcfcf;
$mineShaft: #333;
$heavyMetal: #212121;
$deepBlush: #ea638c;
$tulipTree: #e6af2e;

$headerHeight: 100px;

// MQs
@mixin mq-600 {
  @media (min-width: #{600/16 + 0em}) {
    @content;
  }
}

// Fonts
@font-face {
  font-family: 'CharlynRushmoor';
  src: url('/fonts/Charlynrushmoor.woff2') format('woff2'), url('/fonts/Charlynrushmoor.woff') format('woff'), url('/fonts/Charlynrushmoor.ttf') format('truetype');
}
@mixin fontCharlynRushmoor {
  font-family: 'CharlynRushmoor', cursive;
  font-weight: 100;
}
@mixin fontNanumGothicRegular {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 400;
}
@mixin fontNanumGothicBold {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
}
@mixin fontNanumGothicBlack {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 900;
}
@mixin fontCaveatRegular {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
@mixin fontCaveatBold {
  font-family: 'Caveat', cursive;
  font-weight: 700;
}
