@import './tools';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #333;
  @include fontNanumGothicRegular;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.8rem;
  background-color: #4158d0;
  background-image: linear-gradient(315deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

a {
  text-decoration: none;
  color: blue;
}

img {
  min-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  cursor: pointer;
}

input {
  color: #333;
}
